/*CSS for when screen is bigger than 400px*/
@media (min-width: 450px) {
  /*Navbar Settings*/
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-grow: 1;
    justify-content: space-between;
    height: auto;
  }
  #img-logo {
    height: 10vh;
  }
  #navlist {
    padding: 0 0 10px 0;
    
  }
  #navlist li{
    padding: 0 10px 0 20px; 
    font-size: 2rem;
  }



  /* Home Section settings*/
  #home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #home-text {
    margin: 0 5vw;
    flex-grow: 1;
    left: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 50vw; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #home-text h1 {
    font-size: 5vw;
  }
  #home-text h2 {
    font-size: 2.5vw;
  }
  #profile {
    width: 30vw;
    border-radius: 50%;
    border: 2px solid #F1E1DF;
    /*F1E1DF
    C98C84*/
  }
  #profile-div {
    width: 50vw;
  }

/* About section Settings*/
#about {
  padding: 7.5vh 0 ;
}
#about p {
  font-size: 2vw;
}
#about h2 {
  font-size: 3vw;
}

/* Project Section Settings*/
/* #project {
  padding: 7.5vh 0;
} */
.projects-grid {
  display: grid; 
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 100px;
  margin: 10px auto auto auto;
  margin-bottom: 6rem;
}

#projects img {
  width: 20vw;
  padding-bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-tile {
  background: rgba(210, 129, 129, 0.75);
  width: 20vw;
  box-shadow: 0 2px 15px black;
  border-radius: 10px;
}


}
/* CSS When screen is smaller than 400px*/
@media (max-width: 450px) {

/*body {
  color: white;
  font-family: Nunito;
margin: 0;
}*/
/* Navbar Settings*/
#img-logo-container {
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#img-logo {
  padding-top: 20px;
  }
#navlist {
  padding: 0 40px;
}

#navlist li {
padding: 0 10px 0 10px; 
margin:  0 auto;
}
/* nav {
  padding-left: auto;
  padding-right: auto;
  margin: 0 auto;
} */

/* Home Settings*/
#home {
  display: flex;
  flex-direction: column;
}

#profile {
  width: 50vw;
  border-radius: 50%;
  border: 2px solid #F1E1DF;
  margin-bottom: 20px;
}

/*Project Section*/
.projects-grid {
  display: grid; 
  grid-auto-columns: auto;
  grid-gap: 50px;
  margin: 0 auto 0 auto;
  margin-bottom: 10vh;
  
}
#projects img {
  width: 70vw;
  padding-bottom: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-tile {
  background: rgba(210, 129, 129, 0.75);
  width: 70vw;
  box-shadow: 0 2px 15px black;
  border-radius: 10px;
}

}

/* CSS Regardless Screen Size*/
/*Body Settings */
body  {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    color: #F1E1DF;
    font-family: Noto Sans JP;
  }

/*Navbar settings*/
 header {
   border-bottom-color: #F1E1DF;
   border-bottom-width: 2px;
   border-bottom-style: solid;
 }
#navbar {
  background-color: #C98C84;
}
#navbar a {
  text-decoration: none;
  color: #F1E1DF;
}
nav li {
  list-style: none;
}
ul {
  display: flex;
}
#img-logo {
    max-height: 10vw;
    /*
    padding-left: 40vw;
    padding-right: 40vw;
    */
  }
  #navlist a:hover {
    color: gray;
  }



/*Home settings*/
#home {
  background-color:  #C98C84;
  text-align: center;
  color: #F1E1DF;
  C98C84
  }


/* About Me settings */
#about {
 /* background-color: #81d1d1;*/
  text-align: center;
}
#about a {
  text-decoration: none;
  color: black;
}
#about .center {
  list-style: ;
  list-style-position: inside;
  text-align: center;
}
#about hr {
  border-top: 1px solid white;
  border-radius: 1px;
  width: 50%;
  margin: 30px auto;
}
#about a:hover {
  color: grey;

}


/*Projects Settings*/
#projects {
  display: grid;
  background-color: #C98C84;
  height: 100%;
  text-align: center;
  padding: 0 0;
  border-top: 2px solid #F1E1DF;
}
#projects-header {
  padding-bottom: 10px;
}

/* .projects-grid {
  display: grid;

} */

.project-tile a {
  text-decoration: none;
  color: white;
  
}
#github {
  padding-bottom: 20px;
  font-size: 1.5rem;
}
#profile-link:link {
  text-decoration: none;
  color: black;
}
#profile-link:hover {
  color: grey;
}

/*Contact Settings*/
#contact {
  background-color: #C98C84;
  text-align: center;
  height: auto;
  border-top: 2px solid #F1E1DF;
  border-bottom: 2px solid #F1E1DF;
}
#contact div {
  margin: auto auto;
}
#contact a {
  color: #F1E1DF;
  padding: 0 20px;
}

#contact i {
  font-size: 5vw;
  padding-bottom: 30px;
}
#contact i:hover {
font-size: 7vw;
}
#contact h1 {
  padding-top: 20px;
}

/*Footer Settings*/
#footer {
  background-color: #d1a981;
  text-align: center;
}

}
